<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.context.mapper.UserMapper">

    <select id="getUserRoleByUsername" resultType="java.lang.String">
        select role_name
        from jh_user a,jh_role b,con_role_user c
        where a.username=#{username} and
            a.id = c.user_id and
            b.id = c.role_id
    </select>
</mapper>
